.page-header{
	padding: 39px 0 30px;
	background:#fff; 
}

.logo{
	display: inline-block;
	width: 200px;
	height: 46px;
	background: url(../img/svg/logo.svg) no-repeat; 
	background-size: cover;
}
.page-header__wrap{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.page-header__mail{
	color: #4F4F4F;
	font-size: 16px;
	margin-right: 49px;
	font-family: 'helveticaneuecyr';
	    letter-spacing: 1.2px;
}
.page-header__phone{
	display: inline-block;
	font-size: 18px;
	color: #333333;
	margin-right: 49px;
	span{
		display: block;
		font-size: 12px;
		line-height: 12px;
		letter-spacing: 2.8px;
		color: #828282;
		padding-top: 6px;
	}
}

.page-header__info{
	display: flex;
}
.menu-toggle-link{
	display: inline-block;
	border: 2px solid #477DA1;
	border-radius: 30px;
	display: flex;
	align-items: center;
	    padding: 11px 20px;
    margin-top: -6px;
    position: relative;
    z-index: 10;
	&.active{
		.menu-toggle-link__icon{
		    background-color: transparent;
		    &:before{
				-webkit-transform: translateY(6px) rotate(45deg);
				-moz-transform: translateY(6px) rotate(45deg);
				-ms-transform: translateY(6px) rotate(45deg);
				-o-transform: translateY(6px) rotate(45deg);
				transform: translateY(6px) rotate(45deg);
				background-color: #CE2635; 
		    }
		    &:after{
				-webkit-transform: translateY(-6px) rotate(-45deg);
				-moz-transform: translateY(-6px) rotate(-45deg);
				-ms-transform: translateY(-6px) rotate(-45deg);
				-o-transform: translateY(-6px) rotate(-45deg);
				transform: translateY(-6px) rotate(-45deg);
				background-color: #CE2635;
		    }
		}
	}
}
.menu-toggle-link__txt{
	font-size: 18px;
	text-transform: uppercase;
	color: #477DA1;
	font-family: 'helveticaneuecyr';
	margin-right: 25px;
	position: relative;
	z-index: 10;
}


.menu-toggle-link__icon{
	display: block;
	position: relative;
	    top: -1px;
	margin-top: 6px;
	margin-bottom: 6px;
	width: 20px;
	height: 2px;
	background-color: #477DA1;
	transition: all 0.3s ease;
	&:before,
	&:after{
		display: block;
		width: 26px;
		height: 2px;
		background-color: #477DA1;
		transition: all 0.3s ease;
		position: absolute;
		content: "";
		right: 0;
	}
	&:before{
		top: -6px;
	}
	&:after{
		top: 6px;
	}
}




.top-menu{
    position: fixed;
    left: 0;
    top: 0;
    background: #000;
    width: 100%;
    height: 100vh;
    color: #fff;
    z-index: 5;
    padding: 15px;
    min-height: 100%;
    min-height: 100vh;
    overflow-y: auto;
    padding-top: 43px;
    padding-bottom: 60px;
    display: none;
   .logo{
   		width: 50px;
   		height: 45px;
   		background: url(../img/svg/menu-logo.svg) center no-repeat;
   }
   .page-title{
   		h2{
   			color: #fff;
   			font-family: 'helveticaneuecyr-light';
   			font-size: 20px
   		}
   	}
   	.plan__txt{
	    max-width: 500px;
	    padding-top: 50px;
	}
	.socials{
		margin-top: -30px;
	}
}

.top-menu__top{
	
	
	
}

.top-menu__info{
	
	.page-header__mail,
	.page-header__phone{
		color: #fff;
		display: inline-block;
	}
	.page-header__phone{
		margin-right: 0;
		font-size: 24px;
	}
	.page-header__phone span {
	    font-size: 17px;
	    padding-top: 9px;
	}
	.page-header__mail {
	    font-size: 19px;
	    margin-right: 97px;
	    font-family: 'helveticaneuecyr-light';
	}
	
}
.top-menu-wrap{
	margin-bottom: 95px;
	padding-bottom: 45px;
	border-bottom: 2px solid rgba(255,255,255, 0.2);
}
.top-menu-wrap-inner{
	padding-right: 298px;
	
	display: flex;
	justify-content: space-between;
	.top-menu__info{
		display: flex;
	}
}
.top-menu-view{
	display: flex;
	margin-bottom: 120px;
}
.top-menu-list{
	width: 405px;
    min-width: 405px;
	padding-right: 30px;
	position: relative;
}
.top-menu-list__item{
	font-size: 24px;
	line-height: 1.3;
	text-transform: uppercase;
	color: #fff;
	display: block;
	margin-bottom: 31px;
	&:last-child{
		margin-bottom: 0;
	}
	&.active{
		color: #477DA1;
		position: absolute;
		left: 100%;
		top: 0;
	}
}

.top-menu-sub{
	flex: 1;
    padding: 65px 0 0 75px;
}

.top-menu-sub__link{
	display: flex;
	font-size: 24px;
	line-height: 130%;
	color: #fff;
	margin-bottom: 30px;
	&:last-child{
		margin-bottom: 0;
	}
	&.active{
		color: #CE2635;
		.top-menu-sub__num{
			&:before{
				content: "";
				border: 1px solid #0E95C0;
				width: 44px;
				height: 52px;
				position: absolute;
				left: -17px;
				top: -9px;
				border-radius: 22px/26px;
				-webkit-transform: rotate(30deg);
				-ms-transform: rotate(30deg);
				transform: rotate(45deg);
			}
		}
	}
}
.top-menu-sub__num{
	font-size: 18px;
	margin-right: 100px;
	position: relative;

}

.mobile-phone{
	// display: inline-block;
	display: none;
	width: 16px;
	height: 16px;
	background: url(../img/svg/phone.svg) center no-repeat;
}
.mobile-mail{
	// display: inline-block;
	display: none;
	width: 19px;
	height: 12px;
	background: url(../img/svg/mail.svg) center no-repeat;
}