
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   
}

@media only screen and (-webkit-min-device-pixel-ratio: 0) {

}


//MEDIA
@media screen and (max-width: 1240px){
	.container{
		padding: 0 20px; 
	}
	.layout--index{
		.page-content>.container{
			padding: 0; 
		}
	}
	.indent,
	.contacts-logo{
	    padding-left: 0;
	}
	.how-list__item:nth-child(even) .how-list__title {
	    width: calc(50% - 100px);
	    min-width: calc(50% - 100px);
	}
	.how-list__item:nth-child(odd) .how-list__title {
	    width: calc(50% - 100px);
	    min-width: calc(50% - 100px);
	}
	.how-list__item:nth-child(even) .how-list__txt{
		width: calc(50% - 100px);
	    min-width: calc(50% - 100px);
	}
	.how-list__txt{
		width: calc(50% - 100px);
	    min-width:calc(50% - 100px);
	}
	.numeral-num{
		min-width: auto;
		margin-right: 15px;
	}
	.trust-select__item {
	    padding: 21px 100px 21px 25px;
	    font-size: 24px;
	}
	.top-slider__item .container:after{
		right: 20px;
	}
	.top-slider-pager__item {
	    padding-right: 20px;
	}
}

@media screen and (max-width: 1200px){
	.effect-list{
		margin-right: -35px;
	}
	.effect__item {
	    padding-right: 35px;
	    margin-bottom: 60px;
	}
	.top-menu-list {
	    width: 300px;
	    min-width: 300px;
	}
	.top-menu-sub__num {
	    margin-right: 35px;
	}
}

@media screen and (max-width: 1100px){
	.news-wrap{
		.slider-nav{
			padding-right: 0;
		}
	}
	.trust-select__item {
	    padding: 20px 100px 20px 15px;
	    font-size: 20px;
	}
	.trust-view {
	    padding: 30px 30px 95px 30px;
	}
	.article-slider-wrap .slider-nav {
	    padding-right: 0;
	}
	.page-news-slider-wrap .slider-nav {
	    padding-right: 0;
	}
}
@media screen and (max-width: 1050px){
	.top-slider-wrap .slider-nav {
	    width: 100%;
	    padding-right: 20px;
	}
}
@media screen and (max-width: 1024px){
	.page-header__mail,
	.page-header__phone{
		margin-right: 20px;
	}
	.bottom-menu__num {
	    position: absolute;
	}
	.bottom-menu__services {
	    flex-wrap: wrap;
	}
	.bottom-menu__serv {
	    max-width: initial;
	    width: 18%;
	    padding-right: 10px;
	    margin-bottom: 10px;
	}
	.bottom-menu__num {
	    position: static;
	}
	.contacts__item {
	    padding: 0 20px 30px;
	    &:first-child{
	    	padding-left: 0;
	    }
	}
	.how-list__num {
	    font-size: 90px;
	    line-height: 80px;
	    text-align: center;
	}
	.how-list__item:nth-child(2) .how-list__num:after {
	    height: 60px;
	    top: 120px;
	}
	.effectiveness-form{
		flex-wrap:wrap;
	}
	.effectiveness__item{
		width: 50%;
		margin-bottom: 10px;
	}
	.numeral-num {
	    font-size: 70px;
	    line-height: 70px;
	    margin-right: 30px;
	}
	.numeral-num:before {
	    width: 80px;
	    height: 100px;
	    top: 5px;
	    border-radius: 40px/50px;
	}
	.numeral-txt{
		font-size: 18px;
	}
	.effect__num {
	    font-size: 60px;
	}
	.trust-select__item {
	    padding: 15px 100px 15px 15px;
	    font-size: 18px;
	}
	.trust-view {
	    width: 400px;
	    min-width: 400px;
	    font-size: 18px;
	    line-height: 1.3;
	    margin-left: 30px;
	}
	.top-menu-list__item {
	    font-size: 20px;
	}
	.top-menu-sub__link {
	    font-size: 18px;
	    margin-bottom: 20px;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
	.top-menu-wrap {
	    margin-bottom: 45px;
	    padding-bottom: 25px;
	}
	.top-menu-view {
	    margin-bottom: 65px;
	}
	.top-slider__item .container{
		padding-left: 20px;
	}
	.top-slider-pager__wrap {
	    padding: 20px;
	}
	.bottom-menu__wrap{
		justify-content: space-between;
	}
	.bottom-menu__item{
		width: auto;
	}
	.trust .more-wrap {
	    width: calc(100% - 430px);
	}
	.article__info{
		padding: 20px; 
	}
	.page-news-slider__item .news-in {
	    padding: 20px 20px 100px 20px;
	}
	.page-news-slider__item .news-txt {
	    font-size: 18px;
	}
	.page-news-slider__item .samples-more{
		bottom: 40px;
	}
}
@media screen and (max-width: 900px){
	.top-slider__item .container:after{
		display: none;
	}
	.bottom-menu__serv {
	    width: 30%;
	}
	.bottom-menu__wrap {
	    padding-bottom: 30px;
	    margin-bottom: 30px;
	    flex-wrap: wrap;
	}
	.target__item{
		width: 50%;
	}
	.trust-view {
	    width: 350px;
	    min-width: 350px;
	    padding: 30px 30px 60px 30px;
	}
	.trust-select__bg:after {
	    right: 13px;
	}
	.trust-select__item {
	    padding: 15px 60px 15px 15px;
	}
	.top-menu-list {
	    width: 230px;
	    min-width: 230px;
	}
	.top-menu-wrap-inner {
	    padding-right: 150px;
	}
	.top-menu__info .page-header__mail {
	    margin-right: 35px;
	}
	.top-menu__info .page-header__phone {
	    font-size: 18px;
	}
	.top-menu__info .page-header__phone span {
	    font-size: 14px;
	    padding-top: 5px;
	}
	.samples-in {
	    padding: 25px 20px 35px;
	    .samples-more {
		    bottom: 35px;
		    padding: 0 25px;
		}
	}
	.trust .more-wrap {
	    width: calc(100% - 380px);
	}
}

@media screen and (max-width: 767px){
	body{
		font-size: 16px;
	}
	.page-header__mail,
	.page-header__phone{
		display: none;
	}
	.plan {
	    padding: 50px 0;
	}
	.plan-in {
	    padding-left: 0;
	}
	.bottom-menu{
		display: none;
	}
	.contacts-wrap {
	    flex-wrap: wrap;
	    border-bottom: 0;
	}
	.contacts__item {
	    padding: 0;
	    width: 100%;
	    border: 0;
	    margin-bottom: 20px;
	}
	.contacts {
	    padding: 50px 0 0;
	}
	.contacts-address {
	    padding-top: 0;
	    margin-bottom: 20px;
	}
	.contacts .page-title {
	    margin-bottom: 20px;
	}
	.contacts-bottom{
		flex-wrap:wrap;
	}
	.contacts-logo{
		width: 100%;
		    margin-bottom: 30px;
	}
	.contacts-map{
		width: 100%;
	}
	.contacts-address{
		font-size: 16px;
	}
	.contacts-address__item,
	.contacts-form__top{
	    margin-bottom: 20px;
	}

	.how-list__item:nth-child(even) .how-list__title,
	.how-list__item:nth-child(even) .how-list__txt{
		width: 100%;
		text-align: left;
	}
	.how-list__num{
		order: 1!important;
		color: #206DA9!important;
	}
	.how-list__title{
		order: 2!important;
		width: 100%!important;
		min-width: 100%!important;
		    margin-bottom: 30px;
	}
	.how-list__txt{
		order: 3!important;
		width: 100%!important;
		min-width: 100%!important;
	}
	.how-list__item {
	    display: flex!important;
	    flex-direction: column;
	}
	.how-list__item:nth-child(odd) .how-list__title{
		text-align: left;
	}
	.how{
		padding: 50px 0 0;
	}
	.how-list{
		padding: 50px 0 0;
		.container{
			padding-bottom: 50px;
		} 
	}
	.how .plan-in {
	    margin-bottom: 30px;
	}
	.how-list__num {
	    width: 100%;
	    min-width: 100%;
	    padding: 0;
	    text-align: left; 
	    margin-bottom: 20px;
	}
	.how-list .page-title {
	        margin-bottom: 20px;
	}
	.how-list__num:after{
		content: "";
		display: inline-block;
		width: 71px!important;
		height: 12px!important;
		background: url(../img/svg/arrow-r.svg) center no-repeat!important;
		position: absolute;
		top: 50%!important;
		margin-top: -6px;
		right: 0;
		left: auto!important;
	}
	.effectiveness__item{
		width: 100%;
	}
	.effectiveness-check {
	    padding: 20px 0 0 0;
	}
	.effectiveness {
	    padding: 50px 0;
	}
	.video-wrap{
		margin-bottom: 0;
	}
	.start{
		padding-top: 50px;
	}
	.start .plan-in{
		margin-bottom: 30px;
	}
	.more-link {
	    padding: 13px 65px 13px 30px;
	}
	.target {
   		padding: 50px 0 0;
   		.more-wrap {
		    margin-bottom: 40px;
		}
		.page-title h2:after{
			display: none;
		}
	}
	.more-wrap{
		margin-bottom: 30px;
	}
	.target .container{
		padding-bottom: 50px;
	}
	.target-list{
		margin-right: 0;
	}
	.target__item {
	    width: 100%;
	    padding-right: 0;
	}
	.target .page-title{
		margin-bottom: 20px;
	}
	.effectiveness-add {
	    padding-left: 0;
	    margin: -60px 0 35px;
	}
	.route{
		padding: 50px 0 0;
		.container{
			padding-bottom: 50px;
		} 
	}
	.who-list-wrap {
	    margin-bottom: 20px;
	    padding-bottom: 30px;
	}
	.who {
	    padding: 50px 0;
	}
	.who .page-title{
		margin-bottom: 20px;
	}
	.who__icon {
	    margin-bottom: 20px;
	}
	.who__txt{
		width: 100%;
	}
	.who__item {
	    width: 100%;
	    flex-wrap: wrap;
	}
	.samples{
		padding: 50px 0; 
	}
	.samples .page-title{
		margin-bottom: 20px;
	}
	.samples-in{
		background: #fff;
		box-shadow:none!important;
	}
	.samples-list {
	    margin-bottom: 20px;
	    padding-bottom: 14px;
	    margin-right: 0;
	    &+.slider-nav{
	    	margin-bottom: 30px;
	    }
	}
	.samples-more:after{
		display: none;
	}
	.samples-more span:after{
		opacity: 1;
	}
	.geography{
		padding-top: 50px;
		.container{
			padding-bottom: 50px;
		}
	}
	.geography-info__num {
	        font-size: 55px;
	    line-height: 45px;
	    margin-right: 50px;
	    width: 100px;
	    min-width: 100px;
	}
	.geography-info__txt{
		width: 100px;
	}
	.geography__wrap{
		flex-wrap:wrap;
	}
	.geography-info{
		width: 100%;
	}
	.numeral{
		padding: 50px 0 0;
		.container{
			padding-bottom: 50px;
		}
	}
	.numeral-item {
	    width: 100%;
	    margin-bottom: 0;
	    display: flex!important;
	    padding-left: 20px;
	        padding-top: 20px;
	}
	.numeral-list{
		padding-bottom: 50px;
		padding-top: 35px;
	}
	.effect{
		padding: 50px 0;
	}
	.effect-list{
		padding: 30px 0;
		margin-right: 0;
	    //padding-bottom: 65px;
	}
	.effect-txt {
    	font-size: 18px;
	}
	.effect__num {
	    text-align: right;
	    margin-bottom: 15px;
	}

	.effect__item {
	    padding-right: 20px;
	    margin-bottom: 0;
	    padding-top: 15px;
	}
	.target-arr {
	    // bottom: -28px;
	    // width: 10px;
	    // height: 56px;
	    // background-size: contain;
	    display: none;
	}
	.start-top{
		margin-bottom: 20px;
	}
	.page-title {
	    margin-bottom: 20px;
	        overflow: visible;
	        h2{
	        	display: block;
    			padding-bottom: 15px;
	        }
	}
	.page-title h2:after,
	.page-title h1:after {
	    left: 0;
	    top: 100%;
	    width: 100%;
	    z-index: 2;
	}
	.page-title h1{
		display: block;
		padding-bottom: 15px;
		margin-bottom: 50px;
		font-size: 30px;
	}
	.geography-info__item {
	    justify-content: flex-end;
	}
	.who__txt{
		br{
			display: none;
		}
	}
	.status{
		padding: 50px 0; 
	}
	.status-list {
	    padding-top: 40px;
	    padding-bottom: 15px;
	        position: static;
	}
	.status-wrap {
	    .slider-nav{
	    	    margin: 10px 0 30px;
	    }
	}
	.status-add{
		max-width: 100%;
	}
	.news-txt {
	    font-size: 18px;
	}
	.news{
		padding: 50px 0;
	}
	.news-slider {
	    padding-top: 30px;
	    padding-bottom: 5px;
	}
	.samples-in {
	    padding: 20px 20px 50px;
	}
	.news-in {
	    padding: 20px 20px 100px 20px;
	}
	.samples-more {
	    padding: 0 20px;
	}
	.slider-nav {
	    justify-content: center;
	}
	.trust{
		padding: 50px 0; 
	}
	.trust-desktop{
		display: none;
	}
	.trust-mobile{
		display: block;
		margin-bottom: 40px;
	}
	.trust .btn-wrap{
		padding-right: 0;
		&:after{
			display: none;
		}
	}
	.top-menu .plan__txt {
	    max-width: 100%;
	    padding-top: 0;
	    margin-bottom: 20px;
	}
	.top-menu .socials {
	    margin-top: 0;
	}
	.top-menu-view {
	    margin-bottom: 120px;
	}
	.top-menu-view{
		flex-wrap:wrap;
		margin-bottom: 40px;
	}
	.top-menu-list {
	    width: 100%;
	    min-width: 100%;
	    padding-right: 0;
	    display: flex;
	    flex-wrap:wrap;
	    padding-left: 40px;
	}
	.top-menu-list__item.active{
		position: static;
	}
	.top-menu-list__item {
	    font-size: 18px;
	    margin-bottom: 15px;
	    width: 50%;
	}
	.top-menu-sub {
	    padding: 25px 0 0 0px;
	}
	.top-menu-sub__num {
	    margin-right: 20px;
	}
	.top-menu-sub__link.active .top-menu-sub__num:before {
	    width: 36px;
	    height: 42px;
	    left: -10px;
	}
	.top-menu-wrap-inner .top-menu__info{
		display: none;
	}
	.mobile-phone,.mobile-mail{
		display: inline-block;
	}
	.mobile-phone{
		margin-right: 67px;
	}
	.top-menu-wrap {
    	margin-bottom: 30px;
	    padding-bottom: 10px;
	}
	.top-menu{
		padding-left: 0;
		padding-right: 0;
	}
	.geography__map {
	    padding-right: 0;
	}
	.route .page-title{
		margin-bottom: 55px;
	}
	.route-desktop{
		display: none;
	}
	.route-mobile{
		display: block;
	}
	.top-slider__top {
	    font-size: 16px;
	    margin-bottom: 20px;
	}
	.top-slider__title {
	    font-size: 30px;
	}
	.top-slider__item {
	    padding: 55px 0 110px;
	}
	.top-slider__buttons .btn{
		margin-bottom: 20px;
	}
	.top-slider__buttons .more-link:after{
		top: -2px;
	}
	.top-slider-pager{
		display: none;
	}
	.top-slider-wrap .slider-nav {
	    width: 100%;
	    padding-right: 0;
	    top: auto;
	    bottom: 25px;
	    transform: none;
	    left: 0;
	}
	.top-slider__item {
	    padding: 45px 0 75px;
	}
	.status-wrap{
		.slider-nav{
			display: flex;
		}
	}
	.trust .more-wrap {
	    padding-top: 0;
	}
	.trust .more-wrap {
	    width: 100%;
	    text-align: center;
	}
	.article-slider-wrap .slider-nav{
		justify-content: center;
	}
	.page-news-slider-wrap .slider-nav{
		justify-content: center;
	}
	.page-content {
	    padding: 50px 0;
	}
	.article{
		flex-wrap: wrap;
	}
	.article__img {
	    width: 100%;
	    min-height: 200px;
	    margin-right: 0;
	    margin-bottom: 10px;
	}
	.page-news-slider__item .news-item{
		width: 50%;
	}
	.page-news-slider{
		margin-bottom: 50px;
	}
}

@media screen and (max-width: 600px){
	.page-title h2 {
	    font-size: 22px;
	}
	.menu-toggle-link {
	    padding: 0;
	    margin-top: 0;
	    border: 0;
	}
	.logo {
	    width: 140px;
	    height: 32px;
	}
	.menu-toggle-link__txt{
		display: none;
	}
	.page-header {
	    padding: 24px 0;
	}
	.page-title h2{
		display: block;
		padding-bottom: 5px;
		&:after{
			left: 0;
			top: 100%;
		}
	}
	.page-footer {
	    padding: 33px 0;
	}
	.develop{
		display: none;
	}
	.effectiveness .page-title {
	    margin-bottom: 20px;
	}
	.effectiveness__item{
		display: none;
		&.m-submit{
			display: block;
		}
	}
	.effectiveness-check{
		display: none;
	}
	.effectiveness__item .btn {
	    padding: 13px 20px;
	    width: 100%;
	}
	.effectiveness-add {
	    margin: 0px 0 20px;
	}
	.samples-item{
		padding-right: 0;
	}


	.numeral-item {
	    justify-content: center;
	}
	.effect__item{
		padding-right: 0;
	}
	.status-add {
	    font-size: 18px;
	    line-height: 1.3;
	}
	.top-menu-sub__link {
	    font-size: 16px;
	}
	.top-menu-sub__num {
	    font-size: 16px;
	    &:before{
			left: -9px;
			top: -11px;
	    }
	}
	.top-menu .socials {
	    display: flex;
	    justify-content: space-between;
	}
	.top-menu .socials__item,
	.mobile-phone{
		margin-right: 0;
	}
	.top-menu-wrap-inner {
	    padding-right: 50px;
	}
	.top-menu{
		padding-top: 16px; 
	}
	// .top-slider__item {
	//     padding: 45px 0;
	// }
	.top-slider__txt {
	    font-size: 18px;
	    line-height: 1.3;
	    margin-bottom: 30px;
	}
	.top-slider__title {
	    font-size: 26px;
	}
	.article-slider {
	    margin-bottom: 45px;
	}
	.article__date{
		margin-bottom: 10px;
	}
	.article__title {
	    font-size: 20px;
	    margin-bottom: 15px;
	}
	.article__txt {
	    margin-bottom: 20px;
	    line-height: 1.3;
	}
	.article__more{
		padding-top: 20px;
	}
	.page-news-slider__item .news-item{
		width: 100%;
	}
}