
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   
}

@media only screen and (-webkit-min-device-pixel-ratio: 0) {

}


//MEDIA
@media screen and (max-width: 1240px){
	.container{
		padding: 0 20px; 
	}
	.layout--index{
		.page-content>.container{
			padding: 0; 
		}
	}
	.indent,
	.contacts-logo{
	    padding-left: 0;
	}
	.how-list__item:nth-child(even) .how-list__title {
	    width: calc(50% - 100px);
	    min-width: calc(50% - 100px);
	}
	.how-list__item:nth-child(odd) .how-list__title {
	    width: calc(50% - 100px);
	    min-width: calc(50% - 100px);
	}
	.how-list__item:nth-child(even) .how-list__txt{
		width: calc(50% - 100px);
	    min-width: calc(50% - 100px);
	}
	.how-list__txt{
		width: calc(50% - 100px);
	    min-width:calc(50% - 100px);
	}
	.numeral-num{
		min-width: auto;
		margin-right: 15px;
	}
}

@media screen and (max-width: 1200px){
	.effect-list{
		margin-right: -35px;
	}
	.effect__item {
	    padding-right: 35px;
	    margin-bottom: 60px;
	}
}

@media screen and (max-width: 1100px){
	.news-wrap{
		.slider-nav{
			padding-right: 0;
		}
	}
}

@media screen and (max-width: 1024px){
	.page-header__mail,
	.page-header__phone{
		margin-right: 20px;
	}
	.bottom-menu__num {
	    position: absolute;
	}
	.bottom-menu__services {
	    flex-wrap: wrap;
	}
	.bottom-menu__serv {
	    max-width: initial;
	    width: 18%;
	    padding-right: 10px;
	    margin-bottom: 10px;
	}
	.bottom-menu__num {
	    position: static;
	}
	.contacts__item {
	    padding: 0 20px 30px;
	    &:first-child{
	    	padding-left: 0;
	    }
	}
	.how-list__num {
	    font-size: 90px;
	    line-height: 80px;
	    text-align: center;
	}
	.how-list__item:nth-child(2) .how-list__num:after {
	    height: 60px;
	    top: 120px;
	}
	.effectiveness-form{
		flex-wrap:wrap;
	}
	.effectiveness__item{
		width: 50%;
		margin-bottom: 10px;
	}
	.numeral-num {
	    font-size: 70px;
	    line-height: 70px;
	    margin-right: 30px;
	}
	.numeral-num:before {
	    width: 80px;
	    height: 100px;
	    top: 5px;
	    border-radius: 40px/50px;
	}
	.numeral-txt{
		font-size: 18px;
	}
	.effect__num {
	    font-size: 60px;
	}
}
@media screen and (max-width: 900px){
	.bottom-menu__serv {
	    width: 30%;
	}
	.bottom-menu__wrap {
	    padding-bottom: 30px;
	    margin-bottom: 30px;
	    flex-wrap: wrap;
	}
	.target__item{
		width: 50%;
	}
}

@media screen and (max-width: 767px){
	body{
		font-size: 16px;
	}
	.page-header__mail,
	.page-header__phone{
		display: none;
	}
	.plan {
	    padding: 50px 0;
	}
	.plan-in {
	    padding-left: 0;
	}
	.bottom-menu{
		display: none;
	}
	.contacts-wrap {
	    flex-wrap: wrap;
	    border-bottom: 0;
	}
	.contacts__item {
	    padding: 0;
	    width: 100%;
	    border: 0;
	    margin-bottom: 20px;
	}
	.contacts {
	    padding: 50px 0 0;
	}
	.contacts-address {
	    padding-top: 0;
	    margin-bottom: 20px;
	}
	.contacts .page-title {
	    margin-bottom: 20px;
	}
	.contacts-bottom{
		flex-wrap:wrap;
	}
	.contacts-logo{
		width: 100%;
		    margin-bottom: 30px;
	}
	.contacts-map{
		width: 100%;
	}
	.contacts-address{
		font-size: 16px;
	}
	.contacts-address__item,
	.contacts-form__top{
	    margin-bottom: 20px;
	}
	.how-list:after{
		display: none;
	}
	.how-list__item:nth-child(even) .how-list__title,
	.how-list__item:nth-child(even) .how-list__txt{
		width: 100%;
		text-align: left;
	}
	.how-list__num{
		order: 1!important;
		color: #206DA9!important;
	}
	.how-list__title{
		order: 2!important;
		width: 100%!important;
		min-width: 100%!important;
		    margin-bottom: 30px;
	}
	.how-list__txt{
		order: 3!important;
		width: 100%!important;
		min-width: 100%!important;
	}
	.how-list__item {
	    display: flex!important;
	    flex-direction: column;
	}
	.how-list__item:nth-child(odd) .how-list__title{
		text-align: left;
	}
	.how{
		padding: 50px 0 0;
	}
	.how-list{
		padding: 50px 0; 
	}
	.how .plan-in {
	    margin-bottom: 30px;
	}
	.how-list__num {
	    width: 100%;
	    min-width: 100%;
	    padding: 0;
	    text-align: left; 
	    margin-bottom: 20px;
	}
	.how-list .page-title {
	        margin-bottom: 20px;
	}
	.how-list__num:after{
		content: "";
		display: inline-block;
		width: 71px!important;
		height: 12px!important;
		background: url(../img/svg/arrow-r.svg) center no-repeat!important;
		position: absolute;
		top: 50%!important;
		margin-top: -6px;
		right: 0;
		left: auto!important;
	}
	.effectiveness__item{
		width: 100%;
	}
	.effectiveness-check {
	    padding: 20px 0 0 0;
	}
	.effectiveness {
	    padding: 50px 0;
	}
	.video-wrap{
		margin-bottom: 0;
	}
	.start{
		padding-top: 50px;
	}
	.start .plan-in{
		margin-bottom: 30px;
	}
	.more-link {
	    padding: 13px 65px 13px 30px;
	}
	.target {
   		padding: 50px 0 0;
   		.more-wrap {
		    margin-bottom: 40px;
		}
		.page-title h2:after{
			display: none;
		}
	}
	.more-wrap{
		margin-bottom: 30px;
	}
	.target .container{
		padding-bottom: 50px;
	}
	.target-list{
		margin-right: 0;
	}
	.target__item {
	    width: 100%;
	    padding-right: 0;
	}
	.target .page-title{
		margin-bottom: 20px;
	}
	.effectiveness-add {
	    padding-left: 0;
	    margin: -60px 0 35px;
	}
	.route{
		padding: 50px 0 0;
		.container{
			padding-bottom: 50px;
		} 
	}
	.who-list-wrap {
	    margin-bottom: 20px;
	    padding-bottom: 30px;
	}
	.who {
	    padding: 50px 0;
	}
	.who .page-title{
		margin-bottom: 20px;
	}
	.who__icon {
	    margin-bottom: 20px;
	}
	.who__txt{
		width: 100%;
	}
	.who__item {
	    width: 100%;
	    flex-wrap: wrap;
	}
	.samples{
		padding: 50px 0; 
	}
	.samples .page-title{
		margin-bottom: 20px;
	}
	.samples-in{
		background: #fff;
		box-shadow:none!important;
	}
	.samples-list {
	    margin-bottom: 20px;
	    padding-bottom: 14px;
	    margin-right: 0;
	    &+.slider-nav{
	    	margin-bottom: 30px;
	    }
	}
	.samples-more:after{
		display: none;
	}
	.samples-more span:after{
		opacity: 1;
	}
	.geography{
		padding-top: 50px;
		.container{
			padding-bottom: 50px;
		}
	}
	.geography-info__num {
	    font-size: 72px;
	    line-height: 70px;
	    margin-right: 30px;
	}
	.geography__wrap{
		flex-wrap:wrap;
	}
	.geography-info{
		width: 100%;
	}
	.numeral{
		padding: 50px 0 0;
		.container{
			padding-bottom: 50px;
		}
	}
	.numeral-item {
	    width: 100%;
	    margin-bottom: 0;
	    display: flex!important;
	    padding-left: 20px;
	        padding-top: 20px;
	}
	.numeral-list{
		padding-bottom: 50px;
		padding-top: 35px;
	}
	.effect{
		padding: 50px 0;
	}
	.effect-list{
		padding: 30px 0;
		margin-right: 0;
	    //padding-bottom: 65px;
	}
	.effect-txt {
    	font-size: 18px;
	}
	.effect__num {
	    text-align: right;
	    margin-bottom: 15px;
	}

	.effect__item {
	    padding-right: 20px;
	    margin-bottom: 0;
	    padding-top: 15px;
	}
	.target-arr {
	    bottom: -28px;
	    width: 10px;
	    height: 56px;
	    background-size: contain;
	}
	.start-top{
		margin-bottom: 20px;
	}
	.page-title {
	    margin-bottom: 20px;
	        overflow: visible;
	        h2{
	        	display: block;
    			padding-bottom: 15px;
	        }
	}
	.page-title h2:after {
	    left: 0;
	    top: 100%;
	    width: 100%;
	    z-index: 2;
	}
	.geography-info__item {
	    justify-content: flex-end;
	}
	.who__txt{
		br{
			display: none;
		}
	}
	.status{
		padding: 50px 0; 
	}
	.status-list {
	    padding-top: 40px;
	    padding-bottom: 15px;
	        position: static;
	}
	.status-wrap {
	    padding-bottom: 50px;
	}
	.status-add{
		max-width: 100%;
	}
	.news-txt {
	    font-size: 18px;
	}
	.news{
		padding: 50px 0;
	}
	.news-slider {
	    padding-top: 30px;
	    padding-bottom: 5px;
	}
	.samples-in {
	    padding: 20px 20px 50px;
	}
	.news-in {
	    padding: 20px 20px 100px 20px;
	}
	.samples-more {
	    padding: 0 20px;
	}
	.slider-nav {
	    justify-content: center;
	}
}

@media screen and (max-width: 600px){
	.page-title h2 {
	    font-size: 22px;
	}
	.menu-toggle-link {
	    padding: 0;
	    margin-top: 0;
	    border: 0;
	}
	.logo {
	    width: 140px;
	    height: 32px;
	}
	.menu-toggle-link__txt{
		display: none;
	}
	.page-header {
	    padding: 24px 0;
	}
	.page-title h2{
		display: block;
		padding-bottom: 5px;
		&:after{
			left: 0;
			top: 100%;
		}
	}
	.page-footer {
	    padding: 33px 0;
	}
	.develop{
		display: none;
	}
	.effectiveness .page-title {
	    margin-bottom: 20px;
	}
	.effectiveness__item{
		display: none;
		&.m-submit{
			display: block;
		}
	}
	.effectiveness-check{
		display: none;
	}
	.effectiveness__item .btn {
	    padding: 13px 20px;
	    width: 100%;
	}
	.effectiveness-add {
	    margin: 0px 0 20px;
	}
	.samples-item{
		padding-right: 0;
	}


	.numeral-item {
	    justify-content: center;
	}
	.effect__item{
		padding-right: 0;
	}
	.status-add {
	    font-size: 18px;
	    line-height: 1.3;
	}
}