
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   
}

@media only screen and (-webkit-min-device-pixel-ratio: 0) {

}


//MEDIA
@media screen and (max-width: 1400px){
	.card-top .container:before {
	    left: 10px;
	}
}

@media screen and (max-width: 1240px){
	.container{
		padding: 0 20px; 
	}
	.layout--index{
		.page-content>.container{
			padding: 0; 
		}
	}
	.indent,
	.contacts-logo{
	    padding-left: 0;
	}
	.how-list__item:nth-child(even) .how-list__title {
	    width: calc(50% - 100px);
	    min-width: calc(50% - 100px);
	}
	.how-list__item:nth-child(odd) .how-list__title {
	    width: calc(50% - 100px);
	    min-width: calc(50% - 100px);
	}
	.how-list__item:nth-child(even) .how-list__txt{
		width: calc(50% - 100px);
	    min-width: calc(50% - 100px);
	}
	.how-list__txt{
		width: calc(50% - 100px);
	    min-width:calc(50% - 100px);
	}
	.numeral-num{
		min-width: auto;
		margin-right: 15px;
	}
	.trust-select__item {
	    padding: 21px 100px 21px 25px;
	    font-size: 24px;
	}
	.top-slider__item .container:after{
		right: 20px;
	}
	.top-slider-pager__item {
	    padding-right: 20px;
	}
	.news-person__info cite:before {
	    left: -5px;
	}
	.news-person__img{
		margin-right: 0;
	}
	.news-person__info strong {
	    font-size: 20px;
	    margin-bottom: 40px;
	}
	.news-person__info ul{
		font-size: 20px;
		li{
			padding-left: 20px;
			&:before{
				top: 10px;
			}
		}
	}
	.presentation .more-wrap {
	    padding-bottom: 60px;
	}
	.news-in-wrap{
		padding-bottom: 60px;
		margin-left: 0;
		margin-right: 0;
	}
	.news-in-wrap .slider-nav {
	    padding-right: 0;
	}
	.card-top .container {
	    padding-left: 20px;
	}
	.card-top .container:before {
	    left: 20px;
	}
	.card-top .effectiveness-check {
	    margin-left: 0;
	}
	.questions__item {
	    padding: 4px 40px 0 75px;
	}
	.questions__num{
		left: 40px;
	}
	.questions__item:before{
		left: 22px;
	}
	.errors .container,
	.more .container,
	.howto .container,
	.samples-c .container{
		padding-left: 20px;
		padding-right: 20px;
	}
	.errors__item {
	    padding: 4px 40px 0 75px;
	    margin-bottom: 30px;
	}
	.errors__item:before {
	    width: 63px;
	    height: 68px;
	    background-size: contain;
	    left: 17px;
	}
	.samples-c-slider-wrap {
	    margin-left: 0;
	}
	.results__list {
	    margin-right: -75px;
	}
	.results____item {
	    width: 50%;
	    padding-right: 25px;
	    margin-bottom: 50px;
	    padding-left: 50px;
	}
	.results__count{
		left: 0;
	}
	.problems__item {
	    justify-content: center;
	}
	.problems__info {
	    width: calc(50% - 100px);
	    min-width: calc(50% - 100px);
	}
	.problems__img {
	    width: calc(50% - 100px);
	    min-width: calc(50% - 100px);
	}
	.problems__num {
	    width: 200px;
	    min-width: 200px;
	}
	.model .container {
	    padding: 93px 20px;
	}
	.model .plan-in {
	    margin-top: 0;
	}
	.model__top,
	.model__title{
    	padding-left: 0;
	}
}

@media screen and (max-width: 1200px){
	.effect-list{
		margin-right: -35px;
	}
	.effect__item {
	    padding-right: 35px;
	    margin-bottom: 60px;
	}
	.top-menu-list {
	    width: 300px;
	    min-width: 300px;
	}
	.top-menu-sub__num {
	    margin-right: 35px;
	}
	.samples.m-card .tabs{
		padding: 0;
	}
	.samples.m-card .tab-link{
		margin-right: 20px;
		&:last-child{
			margin-right: 0;
		}
	}
}

@media screen and (max-width: 1100px){
	.news-wrap{
		.slider-nav{
			padding-right: 0;
		}
	}
	.trust-select__item {
	    padding: 20px 100px 20px 15px;
	    font-size: 20px;
	}
	.trust-view {
	    padding: 30px 30px 95px 30px;
	}
	.article-slider-wrap .slider-nav {
	    padding-right: 0;
	}
	.page-news-slider-wrap .slider-nav {
	    padding-right: 0;
	}
	.samples-c-slider-wrap .slider-nav{
		padding-right: 0;
	}
	.samples-c-slider {
	    margin-bottom: 40px;
	}
}

@media screen and (max-width: 1050px){
	.top-slider-wrap .slider-nav {
	    width: 100%;
	    padding-right: 20px;
	}
}

@media screen and (max-width: 1024px){
	.page-header__mail,
	.page-header__phone{
		margin-right: 20px;
	}
	.bottom-menu__num {
	    position: absolute;
	}
	.bottom-menu__services {
	    flex-wrap: wrap;
	}
	.bottom-menu__serv {
	    max-width: initial;
	    width: 18%;
	    padding-right: 10px;
	    margin-bottom: 10px;
	}
	.bottom-menu__num {
	    position: static;
	}
	.contacts__item {
	    padding: 0 20px 30px;
	    &:first-child{
	    	padding-left: 0;
	    }
	}
	.how-list__num {
	    font-size: 90px;
	    line-height: 80px;
	    text-align: center;
	}
	.how-list__item:nth-child(2) .how-list__num:after {
	    height: 60px;
	    top: 120px;
	}
	.effectiveness-form{
		flex-wrap:wrap;
	}
	.effectiveness__item{
		width: 50%;
		margin-bottom: 10px;
	}
	.numeral-num {
	    font-size: 70px;
	    line-height: 70px;
	    margin-right: 30px;
	}
	.numeral-num:before {
	    width: 80px;
	    height: 100px;
	    top: 5px;
	    border-radius: 40px/50px;
	}
	.numeral-txt{
		font-size: 18px;
	}
	.effect__num {
	    font-size: 60px;
	}
	.trust-select__item {
	    padding: 15px 100px 15px 15px;
	    font-size: 18px;
	}
	.trust-view {
	    width: 400px;
	    min-width: 400px;
	    font-size: 18px;
	    line-height: 1.3;
	    margin-left: 30px;
	}
	.top-menu-list__item {
	    font-size: 20px;
	}
	.top-menu-sub__link {
	    font-size: 18px;
	    margin-bottom: 20px;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
	.top-menu-wrap {
	    margin-bottom: 45px;
	    padding-bottom: 25px;
	}
	.top-menu-view {
	    margin-bottom: 65px;
	}
	.top-slider__item .container{
		padding-left: 20px;
	}
	.top-slider-pager__wrap {
	    padding: 20px;
	}
	.bottom-menu__wrap{
		justify-content: space-between;
	}
	.bottom-menu__item{
		width: auto;
	}
	.trust .more-wrap {
	    width: calc(100% - 430px);
	}
	.article__info{
		padding: 20px; 
	}
	.page-news-slider__item .news-in {
	    padding: 20px 20px 100px 20px;
	}
	.page-news-slider__item .news-txt {
	    font-size: 18px;
	}
	.page-news-slider__item .samples-more{
		bottom: 40px;
	}
	.news-view {
	    padding-top: 50px;

	}
	.news-in-view__img{
		margin-right: 35px;
	}
	.news-in-view__img {
	    width: 350px;
	    min-width: 350px;
	}
	.news-in-view__caption{
		    padding: 8px 30px;
		font-size: 20px;
	}
	.news-person__img{
		width: 350px;
	}
	.video-wrap__poster {
	    top: 20px;
	    left: 30px;
	    font-size: 20px;
	}
	.target__add{
		margin-left: 0;
	}
	.more-articles {
	    margin-top: 0;
	}
	.problems__num {
	    font-size: 80px;
	    line-height: 65px;
	}
	.problems-result__top {
	    font-size: 20px;
	    margin-bottom: 20px;
	}
	.problems-result-num__item {
	    font-size: 55px;
	    line-height: 52px;
	}
	.problems-result {
	    padding: 30px 20px;
	    margin-bottom: -75px;
	}
	.problems__img{
		display: block;
	}
	.problems__num:after{
		top: 85px;
	}
	.problems__num:before {
	    top: calc(100% - 57px);
	}
	.effectiveness.m-erp {
	    padding-top: 225px;
	}
	.start.m-erp .plan-in {
	    margin-top: 0;
	}
	.start.m-erp + .route {
	    padding-top: 315px;
	}
	.wonder__info ul li {
	    font-size: 18px;
	}
	.wonder__info ul li:before {
	    left: -18px;
	    top: 2px;
	}
	.wonder__add {
	    font-size: 18px;
	    margin-left: -18px;
	}
	.model__title {
	    padding-right: 20px;
	}
}

@media screen and (max-width: 950px){
	.start{
		&.m-card{
			.plan-in{
				margin-top: 0;
				margin-bottom: 40px;
			}
		}
	}
	.more-add{
		margin-top: 0;
	}
	.results__add {
	    margin-bottom: 30px;
	    text-align: left;
	    padding-right: 0;
	}
}

@media screen and (max-width: 900px){
	.top-slider__item .container:after{
		display: none;
	}
	.bottom-menu__serv {
	    width: 30%;
	}
	.bottom-menu__wrap {
	    padding-bottom: 30px;
	    margin-bottom: 30px;
	    flex-wrap: wrap;
	}
	.target__item{
		width: 50%;
	}
	.trust-view {
	    width: 350px;
	    min-width: 350px;
	    padding: 30px 30px 60px 30px;
	}
	.trust-select__bg:after {
	    right: 13px;
	}
	.trust-select__item {
	    padding: 15px 60px 15px 15px;
	}
	.top-menu-list {
	    width: 230px;
	    min-width: 230px;
	}
	.top-menu-wrap-inner {
	    padding-right: 150px;
	}
	.top-menu__info .page-header__mail {
	    margin-right: 35px;
	}
	.top-menu__info .page-header__phone {
	    font-size: 18px;
	}
	.top-menu__info .page-header__phone span {
	    font-size: 14px;
	    padding-top: 5px;
	}
	.samples-in {
	    padding: 25px 20px 35px;
	    .samples-more {
		    bottom: 35px;
		    padding: 0 25px;
		}
	}
	.trust .more-wrap {
	    width: calc(100% - 380px);
	}
	.news-person__info p,
	.news-person__info strong{
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 850px){
	.samples.m-card .tab-link{
		font-size: 14px;
		text-transform: none;
	}
}

@media screen and (max-width: 767px){
	body{
		font-size: 16px;
	}
	.page-header__mail,
	.page-header__phone{
		display: none;
	}
	.plan {
	    padding: 50px 0;
	}
	.plan-in {
	    padding-left: 0;
	}
	.bottom-menu{
		display: none;
	}
	.contacts-wrap {
	    flex-wrap: wrap;
	    border-bottom: 0;
	}
	.contacts__item {
	    padding: 0;
	    width: 100%;
	    border: 0;
	    margin-bottom: 20px;
	}
	.contacts {
	    padding: 50px 0 0;
	}
	.contacts-address {
	    padding-top: 0;
	    margin-bottom: 20px;
	}
	.contacts .page-title {
	    margin-bottom: 20px;
	}
	.contacts-bottom{
		flex-wrap:wrap;
	}
	.contacts-logo{
		width: 100%;
		    margin-bottom: 30px;
	}
	.contacts-map{
		width: 100%;
	}
	.contacts-address{
		font-size: 16px;
	}
	.contacts-address__item,
	.contacts-form__top{
	    margin-bottom: 20px;
	}

	.how-list__item:nth-child(even) .how-list__title,
	.how-list__item:nth-child(even) .how-list__txt{
		width: 100%;
		text-align: left;
	}
	.how-list__num{
		order: 1!important;
		color: #206DA9!important;
	}
	.how-list__title{
		order: 2!important;
		width: 100%!important;
		min-width: 100%!important;
		    margin-bottom: 30px;
	}
	.how-list__txt{
		order: 3!important;
		width: 100%!important;
		min-width: 100%!important;
	}
	.how-list__item {
	    display: flex!important;
	    flex-direction: column;
	}
	.how-list__item:nth-child(odd) .how-list__title{
		text-align: left;
	}
	.how{
		padding: 50px 0 0;
	}
	.how-list{
		padding: 50px 0 0;
		.container{
			padding-bottom: 50px;
		} 
	}
	.how .plan-in {
	    margin-bottom: 30px;
	}
	.how-list__num {
	    width: 100%;
	    min-width: 100%;
	    padding: 0;
	    text-align: left; 
	    margin-bottom: 20px;
	}
	.how-list .page-title {
	        margin-bottom: 20px;
	}
	.how-list__num:after{
		content: "";
		display: inline-block;
		width: 71px!important;
		height: 12px!important;
		background: url(../img/svg/arrow-r.svg) center no-repeat!important;
		position: absolute;
		top: 50%!important;
		margin-top: -6px;
		right: 0;
		left: auto!important;
	}
	.effectiveness__item{
		width: 100%;
	}
	.effectiveness-check {
	    padding: 20px 0 0 0;
	}
	.effectiveness {
	    padding: 50px 0;
	}
	.video-wrap{
		margin-bottom: 0;
	}
	.start{
		padding-top: 50px;
	}
	.start .plan-in{
		margin-bottom: 30px;
	}
	.more-link {
	    padding: 13px 65px 13px 30px;
	}
	.target {
   		padding: 50px 0 0;
   		.more-wrap {
		    margin-bottom: 40px;
		}
		.page-title h2:after{
			display: none;
		}
	}
	.more-wrap{
		margin-bottom: 30px;
	}
	.target .container{
		padding-bottom: 50px;
	}
	.target-list{
		margin-right: 0;
	}
	.target__item {
	    width: 100%;
	    padding-right: 0;
	}
	.target .page-title{
		margin-bottom: 20px;
	}
	.effectiveness-add {
	    padding-left: 0;
	    margin: -60px 0 35px;
	}
	.route{
		padding: 50px 0 0;
		.container{
			padding-bottom: 50px;
		} 
	}
	.who-list-wrap {
	    margin-bottom: 20px;
	    padding-bottom: 30px;
	}
	.who {
	    padding: 50px 0;
	    position: static;
	}
	.who .page-title{
		margin-bottom: 20px;
	}
	.who__icon {
	    margin-bottom: 20px;
	}
	.who__txt{
		width: 100%;
	}
	.who__item {
	    width: 100%;
	    flex-wrap: wrap;
	}
	.samples{
		padding: 50px 0; 
	}
	.samples .page-title{
		margin-bottom: 20px;
	}
	.samples-in{
		background: #fff;
		box-shadow:none!important;
	}
	.samples-list {
	    margin-bottom: 20px;
	    padding-bottom: 14px;
	    margin-right: 0;
	    &+.slider-nav{
	    	margin-bottom: 30px;
	    }
	}
	.samples-more:after{
		display: none;
	}
	.samples-more span:after{
		opacity: 1;
	}
	.geography{
		padding-top: 50px;
		.container{
			padding-bottom: 50px;
		}
	}
	.geography-info__num {
	        font-size: 55px;
	    line-height: 45px;
	    margin-right: 50px;
	    width: 100px;
	    min-width: 100px;
	}
	.geography-info__txt{
		width: 100px;
	}
	.geography__wrap{
		flex-wrap:wrap;
	}
	.geography-info{
		width: 100%;
	}
	.numeral{
		padding: 50px 0 0;
		.container{
			padding-bottom: 50px;
		}
	}
	.numeral-item {
	    width: 100%;
	    margin-bottom: 0;
	    display: flex!important;
	    padding-left: 20px;
	        padding-top: 20px;
	}
	.numeral-list{
		padding-bottom: 50px;
		padding-top: 35px;
	}
	.effect{
		padding: 50px 0;
	}
	.effect-list{
		padding: 30px 0;
		margin-right: 0;
	    //padding-bottom: 65px;
	}
	.effect-txt {
    	font-size: 18px;
	}
	.effect__num {
	    text-align: right;
	    margin-bottom: 15px;
	}

	.effect__item {
	    padding-right: 20px;
	    margin-bottom: 0;
	    padding-top: 15px;
	}
	.target-arr {
	    // bottom: -28px;
	    // width: 10px;
	    // height: 56px;
	    // background-size: contain;
	    display: none;
	}
	.start-top{
		margin-bottom: 20px;
	}
	.page-title {
	    margin-bottom: 20px;
	        overflow: visible;
	        h2{
	        	display: block;
    			padding-bottom: 15px;
	        }
	}
	.page-title h2:after,
	.page-title h1:after {
	    left: 0;
	    top: 100%;
	    width: 100%;
	    z-index: 2;
	}
	.page-title h1{
		display: block;
		padding-bottom: 15px;
		margin-bottom: 50px;
		font-size: 30px;
	}
	.geography-info__item {
	    justify-content: flex-end;
	}
	.who__txt{
		br{
			display: none;
		}
	}
	.status{
		padding: 50px 0; 
	}
	.status-list {
	    padding-top: 40px;
	    padding-bottom: 15px;
	        position: static;
	}
	.status-wrap {
	    .slider-nav{
	    	    margin: 10px 0 30px;
	    }
	}
	.status-add{
		max-width: 100%;
	}
	.news-txt {
	    font-size: 18px;
	}
	.news{
		padding: 50px 0;
	}
	.news-slider {
	    padding-top: 30px;
	    padding-bottom: 5px;
	}
	.samples-in {
	    padding: 20px 20px 50px;
	}
	.news-in {
	    padding: 20px 20px 100px 20px;
	}
	.samples-more {
	    padding: 0 20px;
	}
	.slider-nav {
	    justify-content: center;
	}
	.trust{
		padding: 50px 0; 
	}
	.trust-desktop{
		display: none;
	}
	.trust-mobile{
		display: block;
		margin-bottom: 40px;
	}
	.trust .btn-wrap{
		padding-right: 0;
		&:after{
			display: none;
		}
	}
	.top-menu .plan__txt {
	    max-width: 100%;
	    padding-top: 0;
	    margin-bottom: 20px;
	}
	.top-menu .socials {
	    margin-top: 0;
	}
	.top-menu-view {
	    margin-bottom: 120px;
	}
	.top-menu-view{
		flex-wrap:wrap;
		margin-bottom: 40px;
	}
	.top-menu-list {
	    width: 100%;
	    min-width: 100%;
	    padding-right: 0;
	    display: flex;
	    flex-wrap:wrap;
	    padding-left: 40px;
	}
	.top-menu-list__item.active{
		position: static;
	}
	.top-menu-list__item {
	    font-size: 18px;
	    margin-bottom: 15px;
	    width: 50%;
	}
	.top-menu-sub {
	    padding: 25px 0 0 0px;
	}
	.top-menu-sub__num {
	    margin-right: 20px;
	}
	.top-menu-sub__link.active .top-menu-sub__num:before {
	    width: 36px;
	    height: 42px;
	    left: -10px;
	}
	.top-menu-wrap-inner .top-menu__info{
		display: none;
	}
	.mobile-phone,.mobile-mail{
		display: inline-block;
	}
	.mobile-phone{
		margin-right: 67px;
	}
	.top-menu-wrap {
    	margin-bottom: 30px;
	    padding-bottom: 10px;
	}
	.top-menu{
		padding-left: 0;
		padding-right: 0;
	}
	.geography__map {
	    padding-right: 0;
	}
	.route .page-title{
		margin-bottom: 55px;
	}
	.route-desktop{
		display: none;
	}
	.route-mobile{
		display: block;
	}
	.top-slider__top {
	    font-size: 16px;
	    margin-bottom: 20px;
	}
	.top-slider__title {
	    font-size: 30px;
	}
	.top-slider__item {
	    padding: 55px 0 110px;
	}
	.top-slider__buttons .btn{
		margin-bottom: 20px;
	}
	.top-slider__buttons .more-link:after{
		top: -2px;
	}
	.top-slider-pager{
		display: none;
	}
	.top-slider-wrap .slider-nav {
	    width: 100%;
	    padding-right: 0;
	    top: auto;
	    bottom: 25px;
	    transform: none;
	    left: 0;
	}
	.top-slider__item {
	    padding: 45px 0 75px;
	}
	.status-wrap{
		.slider-nav{
			display: flex;
		}
	}
	.trust .more-wrap {
	    padding-top: 0;
	}
	.trust .more-wrap {
	    width: 100%;
	    text-align: center;
	}
	.article-slider-wrap .slider-nav{
		justify-content: center;
	}
	.page-news-slider-wrap .slider-nav{
		justify-content: center;
	}
	.page-content {
	    padding: 50px 0;
	}
	.article{
		flex-wrap: wrap;
	}
	.article__img {
	    width: 100%;
	    min-height: 200px;
	    margin-right: 0;
	    margin-bottom: 10px;
	}
	.page-news-slider__item .news-item{
		width: 50%;
	}
	.page-news-slider{
		margin-bottom: 50px;
	}
	.who + .effectiveness:after,
	.who + .effectiveness:before{
		display: none;
	}
	.effect .plan-in {
	    padding-top: 0;
	    margin-top: 0;
	}
	.effect .c1 {
	    top: 0;
	    display: inline;
	}
	.page-top {
	    padding: 65px 0;
	}
	.page-top h1{
		font-size: 30px;
		margin-bottom: 0;
	}
	.news-in-date{
		margin-bottom: 15px;
	}
	.news-in-top {
	    margin-bottom: 30px;
	}
	.news-in-view{
		flex-wrap:wrap;
	}
	.news-in-view__img {
	    width: 100%;
	    min-width: 100%;
	    margin-right: 0;
	    margin-bottom: 30px;
	}
	.news-in-view__info strong{
		line-height: inherit;
	}
	.news-view{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.news-person{
		padding-top: 50px;
		padding-bottom: 150px;
	}
	.news-person__wrap{
		flex-wrap:wrap;
	}
	.news-person__info{
		padding-right: 0;
		width: 100%;
		order: 2;
	}
	.news-person__img{
		width: 100%;
		order: 1;
		margin-bottom: 30px;
		&:before{
			display: none;
		}
	}
	.news-in-links__wrap{
		margin: 0 -20px;
	}
	.news-in-links__item{
		padding: 0 20px;
	}
	.news-in-links__item.m-title{
		font-size: 20px;
	}
	.news-bottom {
	    padding-top: 160px;
	}
	.news-bottom .more-wrap {
	    margin-bottom: 50px;
	}
	.presentation .btn-wrap:after,
	.news-bottom .btn-wrap:after{
		display: none;
	}
	.page-transition__link.m-left {
	    padding-left: 40px;
	    &:before{
	    	width: 35px;
    		height: 20px;
    		background-size: contain;
	    }
	}
	.page-transition__link.m-right {
	    padding-right: 40px;
	    &:before{
	    	width: 35px;
    		height: 20px;
    		background-size: contain;
	    }
	}
	.page-transition__link{
		font-size: 14px;
	}
	.card-top {
	    padding: 50px 0 70px;
	}
	.card-top .effectiveness {
	    padding: 0;
	}
	.card-top .effectiveness-check{
		padding-top: 0;
	}
	.card-top .container:before {
	    bottom: -55px;
	}
	.effectiveness__item{
		padding-right: 0;
	}
	.card-top{
		.effectiveness h2{
			max-width: 100%;
			font-size: 18px;
		}
	}
	.questions{
		padding: 50px 0;
	}
	.questions__add{
		margin-bottom: 20px;
	}
	.questions__item {
	    padding: 4px 15px 0 60px;
	    font-size: 18px;
    	line-height: 1.3;
	}
	.questions__list{
		margin: 0 -15px;
	}
	.questions__num {
	    left: 25px;
	    top: 3px;
	}
	.questions__item:before {
	    left: 6px;
	    top: -7px;
	}
	.questions .page-title{
		margin-bottom: 20px;
	}
	.effectiveness.m-card {
	    padding: 160px 0 40px;
	}
	.samples-list{
		&.slick-initialized{
			.slick-list{
				margin-right: -10px;
			}
		}
	}
	.samples.m-card .plan-in {
	    margin-bottom: 30px;
	}
	.samples.m-card .samples-list-wrap {
	    padding-top: 20px;
	}
	.samples.m-card .tabs{
		flex-wrap:wrap;
		justify-content: flex-start;
	}
	.samples.m-card .tab-link{
		margin-bottom: 20px;
		br{
			display: none;
		}
	}
	.errors__item {
	    padding: 4px 15px 0 60px;
	    font-size: 18px;
	    line-height: 1.3;
	}
	.errors .container{
		padding: 40px 20px;
	}
	.errors .page-title {
	    margin-bottom: 20px;
	}
	.errors__list{
		margin: 0 -15px;
	}
	.errors__item:before{
		left: 2px;
	}
	.more .container,
	.howto .container{
		padding: 40px 20px;
	}
	.more-add{
		padding-left: 0;
		&:before{
			display: none;
		}
	}
	.howto .page-title{
		margin-bottom: 20px;
	}
	.target.m-card{
		padding: 40px 0; 
	}
	.target__add{
		padding-left: 0;
		margin-bottom: 20px;
	}
	.target.m-card .page-title{
		margin-bottom: 20px;
	}
	.target.m-card .container{
		padding-bottom: 0px;
	}
	.samples-c .container{
		padding: 40px 20px;
	}
	.samples-c .page-title{
		margin-bottom: 20px;
	}
	.samples-c__process {
	    margin-bottom: 30px;
	    font-size: 20px;
	}
	.results{
		padding: 40px 20px;
	}
	.results____item{
		font-size: 18px;
	}
	.results__count{
		top: 0;
	}
	.results__count:before {
	    top: -26px;
	}
	.results{
		.container{
			padding: 0;
		}
	}
	.more-articles {
	    margin-bottom: 30px;
	    padding-left: 0;
	}
	.more-articles__item{
		font-size: 18px;
	}
	.route.m-card{
		padding-top: 40px;
		.container{
			padding-bottom: 40px;
		}
	}
	.problems__num{
		order:1!important;
	    width: 100%;
	    min-width: 100%;
	    &:before,
	    &:after{
	    	display: none!important;
	    }
	}
	.problems__img{
		order: 2!important;
		width: 100%;
		min-width: 100%;
		display: flex;
		justify-content: center;
		height: 200px;
		img{
			max-height: 100%;
		}
	}
	.problems__info{
		order: 3!important;
		width: 100%;
		min-width: 100%;
		text-align: left!important; 
	}
	.problems__item{
		margin-bottom: 0;
	}
	.problems__wrap {
	    padding-bottom: 30px;
	}
	.problems__wrap.slick-initialized + .slider-nav {
	    margin-bottom: 30px;
	}
	.problems .page-title {
	    margin-bottom: 20px;
	}
	.problems {
	    padding: 40px 0;
	}
	.problems-result{
		margin-bottom: 0;
	}
	.start.m-erp {
	    padding-top: 40px;
	}
	.start.m-erp .video-wrap {
	    margin-bottom: 30px;
	}
	.start.m-erp + .route {
	    padding-top: 175px;
	}
	.start.m-erp .container {
	    margin: 0 auto -150px;
	}
	.effectiveness.m-erp {
	    padding-top: 40px;
	    padding-bottom: 40px;
	}
	.effectiveness.m-erp .plan-in {
	    margin: 0 0 30px 0;
	}
	.effectiveness.m-erp .page-title{
		margin-bottom: 20px;
	}
	.wonder{
		padding: 40px 0; 
	}
	.wonder__list {
	    flex-wrap: wrap;
	}
	.wonder .page-title{
		margin-bottom: 20px;
		br{
			display: none;
		}
	}
	.wonder__img {
	    width: 100%;
	    padding-right: 0;
	}
	.wonder__info {
	    width: 100%;
	    padding-left: 20px;
	}
	.wonder__info ul {
	    margin-bottom: 20px;
	}
	.target.m-erp{
		padding-top: 50px;
	}
	.model .container {
	    padding: 40px 20px;
	}
	.model-stage{
		margin-bottom: 30px;
	}
	.model__wrap {
	    margin-bottom: 0;
	    flex-wrap:wrap;
	}
	.model__title {
	    padding-right: 0;
	    width: 100%;
	    margin-bottom: 20px;
	}
	.model__top{
		margin-bottom: 20px;
	}
	.model__info {
	    width: 100%;
	}
	.model__step{
		margin-bottom: 30px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.how-list.m-erp{
		padding-top: 40px;
	}
	.who:after{
		display: none;
	}
}

@media screen and (max-width: 600px){
	.page-title h2 {
	    font-size: 22px;
	}
	.menu-toggle-link {
	    padding: 0;
	    margin-top: 0;
	    border: 0;
	    background: transparent!important;
	    border: 0!important;
	    &.active{
	    	.menu-toggle-link__icon{

				background-color: transparent!important;
	    	}
		}
	}
	.menu-toggle-link__icon{
		background-color: #477DA1!important;
		&:before,
		&:after{
			background-color: #477DA1!important;
		}

	}
	.logo {
	    width: 140px;
	    height: 32px;
	}
	.menu-toggle-link__txt{
		display: none;
	}
	.page-header {
	    padding: 24px 0;
	}
	.page-title h2{
		display: block;
		padding-bottom: 5px;
		&:after{
			left: 0;
			top: 100%;
		}
	}
	.page-footer {
	    padding: 33px 0;
	}
	.develop{
		display: none;
	}
	.effectiveness .page-title {
	    margin-bottom: 20px;
	}
	.effectiveness__item{
		display: none;
		&.m-submit{
			display: block;
		}
	}
	.effectiveness-check{
		display: none;
	}
	.effectiveness__item .btn {
	    padding: 13px 20px;
	    width: 100%;
	}
	.effectiveness-add {
	    margin: 0px 0 20px;
	}
	.samples-item{
		padding-right: 0;
	}


	.numeral-item {
	    justify-content: center;
	}
	.effect__item{
		padding-right: 0;
	}
	.status-add {
	    font-size: 18px;
	    line-height: 1.3;
	}
	.top-menu-sub__link {
	    font-size: 16px;
	}
	.top-menu-sub__num {
	    font-size: 16px;
	    &:before{
			left: -9px;
			top: -11px;
	    }
	}
	.top-menu .socials {
	    display: flex;
	    justify-content: space-between;
	}
	.top-menu .socials__item,
	.mobile-phone{
		margin-right: 0;
	}
	.top-menu-wrap-inner {
	    padding-right: 50px;
	}
	.top-menu{
		padding-top: 16px; 
	}
	// .top-slider__item {
	//     padding: 45px 0;
	// }
	.top-slider__txt {
	    font-size: 18px;
	    line-height: 1.3;
	    margin-bottom: 30px;
	}
	.top-slider__title {
	    font-size: 26px;
	}
	.article-slider {
	    margin-bottom: 45px;
	}
	.article__date{
		margin-bottom: 10px;
	}
	.article__title {
	    font-size: 20px;
	    margin-bottom: 15px;
	}
	.article__txt {
	    margin-bottom: 20px;
	    line-height: 1.3;
	}
	.article__more{
		padding-top: 20px;
	}
	.page-news-slider__item .news-item{
		width: 100%;
	}
	.page-top h1{
		font-size: 26px;
	}
	.news-in-links__wrap {
	    margin: 0;
	    flex-wrap: wrap;
	}
	.news-in-links__item{
		padding: 0;
		width: 100%;
		margin-bottom: 20px;
	}
	.page-transition__link{
		display: none;
		&.m-left,
		&.m-right{
			display: inline-block;
		}
	}
	.news-in-wrap{
		padding-bottom: 35px;
	}
	.news-in-slider {
	    padding-bottom: 35px;
	}
	.news-in-links {
	    margin-bottom: 30px;
	}
	.video-link{
		width: 60px;
		height: 60px;
	}
	.news-in-slider__item{
		img{
			max-width: 100%;
		}
	}
	.news-in-slider__item {
	    padding: 0;
	    display: flex!important;
	    align-items: center;
	}
	.news-in-slider__in{
		height: auto;
		display: flex;
		align-items: center;
	}
	.video-wrap__poster {
	    top: 10px;
	    left: 15px;
	    font-size: 16px;
	    br{
	    	display: none;
	    }
	}
	.workarea cite:before {
	    width: 47px;
	    height: 31px;
	    background-size: contain;
	}
	.workarea cite{
		padding-left: 50px;
	}
	.news-person__info ul {
	    font-size: 16px;
	}
	.news-person__info ul li:before {
	    top: 7px;
	}
	.news-person{
		padding-bottom: 110px;
	}
	.presentation-video-top {
	    transform: translateY(-80px);
	}
	.presentation .more-wrap {
	    padding-bottom: 40px;
	}
	.news-in-view__info strong {
	    font-size: 18px;
	}
	.card-top{
		.effectiveness__item{
			display: block;
		}
	}
	.card-top .container:before {
	    bottom: -45px;
	}
	.card-top .effectiveness .page-title {
	    margin-bottom: 30px;
	}
	.questions__list {
	    margin: 0;
	    column-count: 1;
	}
	.questions__item {
	    padding: 0 0 0 50px;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
	.questions__num {
	    left: 10px;
	    top: -2px;
	}
	.questions__item:before {
	    left: -9px;
	    top: -16px;
	}
	.samples-list.slick-initialized .slick-list {
	    margin-right: 0;
	}
	.errors__list {
	    margin: 0;
	    column-count: 1;
	}
	.errors__item {
	    padding: 0 0 0 50px;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
	.errors__item:before {
	    left: -10px;
	}
	.results__list {
	    margin-right: 0;
	}
	.results____item {
	    width: 100%;
	    padding-right: 0;
	    margin-bottom: 40px;
	    padding-left: 50px;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
}

@media screen and (max-width: 400px){
	.start.m-card .video-wrap {
	    margin-bottom: -75px;
	}
	.effectiveness.m-card {
	    padding: 115px 0 40px;
	}
}