

/*FONT-FAMILY*/
$default-font: 'helveticaneuecyr-light', Arial, sans-serif;

/*FONT-SIZE*/
$default-size-font: 18px;

/*BACKGROUND*/
$default-site-bg: #fff;

//$default-bg: #eeeeee;

/*TEXT-COLOR*/
$base-color: #333;

$white-color: #fff;
