.workarea,
.popup{
	line-height: 1.3;
	h1{
		margin: 0;
		margin-bottom: 22px;
		font-weight: normal;
		font-size: 50px;
		line-height: 1.3;
		font-family: 'helveticaneuecyr-bold';
		text-transform: uppercase;
	}
	h2{
		margin: 0;
		margin-bottom: 22px;
		font-weight: normal;
	}
	h3{
	    margin: 0;
	    margin-bottom: 22px;
	    font-weight: normal;
	}
	p{
		margin: 0;
		margin-bottom: 20px;
	}
	video{
		max-width: 100%;
		height: auto;
		object-fit: cover;
		display: block;
	}

	input[type="text"],
	input[type="email"],
	input[type="phone"],
	input[type="password"]{
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		background: transparent;
		border: 1px solid #fff;
		border-radius: 3px;
		color: #fff;
		padding: 12.5px 30px;
		transition: background 0.3s ease;
		&:hover{
			background: rgba(255, 255, 255, 0.1);
		}
		&:focus{
			background: #fff;
			color: #333;
		}
		&:disabled{
			opacity: 0.2;
			pointer-events: none;
		}
	}
	strong{
		font-family: 'helveticaneuecyr';
		font-weight: normal;
		// line-height: 1.5;
	}
	cite{
		font-style: normal;
		padding-left: 62px;
		position: relative;
		display: block;
		&:before{
			content: "";
			display: inline-block;
			width: 54px;
			height: 38px;
			background: url(../img/svg/cite.svg) no-repeat;
			position: absolute;
			left: 0;
			top: 0; 
		}
	}
	ul{
		margin: 0;
		margin-bottom: 20px;
		padding: 0;
		li{
			margin-bottom: 5px;
			list-style-type: none;
			padding-left: 10px;
			position: relative;
			&:before{
				content: "";
				display: inline-block;
				width: 5px;
				height: 5px;
				border: 1px solid #4F4F4F;
				border-radius: 50%;
				position: absolute;
				left: 0;
				top: 0;
			}
		}
	}
}